@import url('clash-display.css');

@font-face {
    font-family: 'Clash-Display';
    src: url('./assets/fonts/ClashDisplay-Bold.ttf') format('truetype'),
         url('./assets/fonts/ClashDisplay-Medium.ttf') format('truetype'),
}

:root {
    --dark-bg: #171717;
    --light-text: hsl(56, 100%, 97%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--dark-bg);
    color: var(--light-text);
}

h1 {
    font-family: 'ClashDisplay';
}

header {
    height: 100vh;
}