/* Setting Variables */
:root {
    /* Colors */
    --dark-mode: #131313/* #090938 */;
    --light-mode: hsl(56, 100%, 97%);
    --dark-text: #131313;
    --light-text: hsl(56, 100%, 97%);
    --text-opacity: hsl(56, 100%, 97%, 0.4);
    --red-gradient: #df2462;
    --blue-gradient: #2683cf;
    --color-instagram: radial-gradient(circle at 20% 100%, #feda75 0%, #fa7e1e 25%, #d62976 70%,#962fbf 85%,#4f5bd5 100%);
    --color-linkedin: hsl(199, 85%, 36%);
    --color-github: hsl(0, 5%, 9%);
    --color-behance: hsl(226, 100%, 51%);

    /* Fonts & Typographies */
    --body-font:'Clash Display', sans-serif;
    --title-font:/* If an other font */;
    --title-size: 15em;
    --heading-font-size: 2.5rem;
    --text-font-size: 1.5rem;
    --navbar-font-size: 1.5rem;

    /* Font weight */
    --title-font-weight: 600;
    --heading-font-weight: 500;
    --text-font-weight: 400;

    /* Margin and padding */

    /* Z-index */
    --z-fixed: 100;
    --z-front: 10;
}

/* Resetting CSS */
* {
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
    box-sizing: border-box;
}

/* Custom cursor */

html {
    scroll-behavior: smooth;
    /* I use 62.5% to set 1rem to 10px */
    font-size: 62.5%;
    font-family: var(--body-font);
}

body {
    background-color: var(--dark-mode);
    color: var(--light-text);
    /* overflow: hidden; */
}

header h1 {
    font-size: clamp(2rem, 1rem + 10vw, 16rem);
    font-weight: 500;
    text-align: center;
}

header span {
    background: -webkit-linear-gradient(225deg, var(--red-gradient) 0%, var(--blue-gradient) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

header {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header h3 {
    letter-spacing: 0.1em;
    font-size: 1.25em;
    font-weight: 200;
}

.scroll {
    text-align: center;
    margin-top: 5em;
}

.arrow-down {
    animation: move 2.5s infinite;
    color: var(--light-text);
}

/* Arrow-down moving up and down animation */
@-webkit-keyframes move {
    0%{
        transform: translateY(0px);
    }

    50%{
        transform: translateY(25px);
    }

    100%{
        transform: translateY(0px);
    }
}

@keyframes move {
    0%{
        transform: translateY(0px);
    }

    50%{
        transform: translateY(25px);
    }

    100%{
        transform: translateY(0px);
    }
}

.activity li {
    list-style: none;
    font-size: 1.5rem;
}

.activity a{
    text-decoration: none;
    color: var(--light-text);
}

.activity h4 {
    font-size: 1em;
    font-weight: 200;
    letter-spacing: 0.075em;
    padding-top: 0.5em;
}

/* The 4 sections composing the navbar */

.about,
.projects,
.contact {
    display: flex;
    flex-direction: column;
    text-align: center;
}

/* Only displaying on Phone device */
.menu {
    display: none;
}

.logo {
    position: fixed;
    top: 1.25em;
    left: 1.25em;
    z-index: var(--z-fixed);
}

.about {
    position: fixed;
    bottom: 1.25em;
    left: 1.25em;
    z-index: var(--z-fixed);
}

.projects {
    position: fixed;
    top: 1.25em;
    right: 1.25em;
    z-index: var(--z-fixed);
}

.contact {
    position: fixed;
    bottom: 1.25em;
    right: 1.25em;
    z-index: var(--z-fixed);
}

.message {
    transform: scaleX(-1);
}

/* ------------------------- */


/* -- Display of the intro --*/
main {
    display: inline;
}

main img {
    float: right;
}

.description h2,
#projects h2:not(figcaption h2) {
    font-size: clamp(6rem, 12vw + 1rem, 8rem);
    font-weight: 300;
    text-align: left;
    margin: 0 auto;
    width: 90vw;
    border-bottom: solid 0.5px var(--light-text);
}

.description p{
    font-size: clamp(4rem, 10vw + 0.5rem, 6rem);
    font-weight: 500;
    color: var(--text-opacity);
    text-align: left;
    margin: 0 auto;
    width: 90vw;
    padding: 1.5em 0;
    line-height: 1.5em;
}

.description span {
    color: var(--light-text);
}

/* ----- Projects part ----- */
section {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 0 auto;
}

section figure {
    position: relative;
}

section figcaption h2 {
    width: fit-content;
    font-weight: 600;
    font-size: 12rem;
    color: var(--light-text);
    position: absolute;
    text-align: center;
    bottom: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.5s;
    z-index: var(--z-front);
}

/* section img {
    width: 25vw;
    height: 450px;
} */

section img {
    height: 75vh;
    width: 75vw;
    position: relative;
    -webkit-filter: brightness(85%);
    filter: brightness(85%);
}

section figure p {
    font-size: var(--text-font-size);
    width: 25vw;
}

#info-project {
    /* border: 1rem solid red; */
    margin: 5em 7.5em;
    width: 75vw;
}

.description-project {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    font-size: 1.5rem;
    border-bottom: solid var(--light-text) 0.5px;
    padding: 2em 0;
}

.description-project a {
    text-decoration: none;
    color: var(--light-text);
}

/* ------ Footer ------- */

footer {
    margin: 5rem;
    text-align: center;
}

footer p {
    font-size: 1.25rem;
    margin-top: 2.5em;
}

.social li {
    display: inline;
    list-style: none;
    font-size: 2.25em;
    font-weight: 500;
    margin: 1.5em;
}

.social a {
    color: var(--light-text);
    transition: 0.5s;
    text-decoration: none;
}

.instagram:hover {
    background-image: var(--color-instagram);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.linkedin:hover {
    color: var(--color-linkedin);
}

.github:hover {
    color: var(--color-github);
    -webkit-text-stroke: var(--light-text) 0.25px;
}

.behance:hover {
    color: var(--color-behance);
}

/* ---------------------- */


/* Project Page */
.block {
    position: relative;
    width: 580px;
    height: 460px;
    margin: 10px 300px 20px 80px;
}

h1 {
    position: absolute;
    font-family: 'Clash Display', sans-serif;
    font-weight: lighter;
    font-size: 64px;
}

.block-1 {
    background: url("../assets/images/img-one.jpeg") no-repeat 50% 50%;
    background-size: cover;
}

.block-2 {
    background: url("../assets/images/img-two.jpeg") no-repeat 50% 50%;
    background-size: cover;
}

.block-3 {
    background: url("../assets/images/img-three.jpeg") no-repeat 50% 50%;
    background-size: cover;
}

.block-4 {
    background: url("../assets/images/img-four.jpeg") no-repeat 50% 50%;
    background-size: cover;
}

.block-5 {
    background: url("../assets/images/img-five.jpeg") no-repeat 50% 50%;
    background-size: cover;
}

.container {
    margin-top: 200px;
    margin-left: 200px;
}

.block-1 h1,
.block-3 h1,
.block-5 h1 {
    bottom: 0;
    right: -60px;
}

.block-2 h1,
.block-4 h1 {
    right: -60px;
}