@import url('chillax.css');

:root {
    --dark-bg: #171717;
    --light-text: hsl(56, 100%, 97%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--dark-bg);
    color: var(--light-text);
}

h1 {
    font-family: 'chillax', sans-serif;
    font-weight: 600;
}

header {
    height: 100vh;
}