/* Resetting CSS */
* {
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    background: transparent;
    box-sizing: border-box;
}

html,
body {
    background-color: #161616;
    color: white;
    font-family: 'Clash Display', sans-serif;
    font-weight: 400;
    height: 100vh;
    font-size: 62.5%;
}

.activity li {
    list-style: none;
    font-size: 1.5rem;
}

.activity a{
    text-decoration: none;
    color: var(--light-text);
}

/* --- Text Navbar --- */
.activity h4 {
    font-size: 1em;
    font-weight: 200;
    letter-spacing: 0.075em;
    padding-top: 0.5em;
}

/* The 4 sections composing the navbar */

.about,
.projects,
.contact {
    display: flex;
    flex-direction: column;
    text-align: center;
}

/* Only displaying on Phone device */
.menu {
    display: none;
}

.logo {
    position: fixed;
    top: 1.25em;
    left: 1.25em;
    z-index: var(--z-fixed);
}

.about {
    position: fixed;
    bottom: 1.25em;
    left: 1.25em;
    z-index: var(--z-fixed);
}

.projects {
    position: fixed;
    top: 1.25em;
    right: 1.25em;
    z-index: var(--z-fixed);
}

.contact {
    position: fixed;
    bottom: 1.25em;
    right: 1.25em;
    z-index: var(--z-fixed);
}

.message {
    transform: scaleX(-1);
}

/* ------------------------- */

.wrapper {
    width: 100vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrapper .line,
h1 {
    width: 90vw;
    height: 70px;
    position: relative;
    overflow: hidden;
}

.wrapper .line span {
    position: absolute;
    font-size: 3rem;
    line-height: 3rem;
}